/* GameDetail.css - Netflix aesthetic */

.detail-container {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 80px;
}

.detail-banner {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.detail-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000 30%, rgba(0, 0, 0, 0.4) 90%);
}

.detail-info {
  position: absolute;
  bottom: 30px;
  left: 60px;
  max-width: 60%;
  z-index: 2;
}

.detail-title {
  font-size: 3rem;
  font-weight: 700;
  color: #e50914;
  margin-bottom: 10px;
}

.detail-meta {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 6px;
}

.detail-description {
  padding: 40px 60px;
  font-size: 1.05rem;
  line-height: 1.7;
  color: #eee;
  max-width: 1000px;
  margin: 0 auto;
}

.back-link {
  text-align: center;
  margin-top: 50px;
}

.back-link a {
  color: #e50914;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.back-link a:hover {
  text-decoration: underline;
}
